#timer {
    float: right;
}

.btn-primary {
    margin: 5px;

}


#result {
    font-style: italic;
    font-size: large;
    
}


.label {
    position: absolute;
    right: 50px;


}
.time {
    position: fixed;
    right: 10px;

}

.status {
    position: absolute;
    left: 200px;
}

#score {
    font-size: large;
}
.container {
    margin: 20px;
}
 #final-score {
     font-weight: bold;
 }

 #user-initials {
     width: 100px; 
     margin: 10px; 
 }

 li {
    height: 50px;
    width: 150px;
    padding: 5px;
    color: black;
    background-color: white;
    font-size: 1.5em;
    line-height: 1.5;
    list-style: none;
    border-top: 1px;
    border-color: darkblue;  
  }

  li button {
    float: right;
    border: none;
    height: 50px;
    cursor: pointer;
    color: black;
    background-color: white;
    font-size: 1em;
    line-height: 1.5;
  }
